
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/gotham_medium/gotham-medium.eot');
    src: url('../fonts/gotham_medium/gotham-medium.eot') format('embedded-opentype'),
         url('../fonts/gotham_medium/gotham-medium.woff2') format('woff2'),
         url('../fonts/gotham_medium/gotham-medium.woff') format('woff'),
         url('../fonts/gotham_medium/gotham-medium.ttf') format('truetype'),
         url('../fonts/gotham_medium/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/gotham_light/gotham-light.eot');
    src: url('../fonts/gotham_light/gotham-light.eot') format('embedded-opentype'),
         url('../fonts/gotham_light/gotham-light.woff2') format('woff2'),
         url('../fonts/gotham_light/gotham-light.woff') format('woff'),
         url('../fonts/gotham_light/gotham-light.ttf') format('truetype'),
         url('../fonts/gotham_light/gotham-light.svg#GothamLight') format('svg');
}
